[Unit]
Description=MI Engineering Django Gunicorn Service
After=network.target

[Service]
Type=simple

User=www-data
Group=www-data

WorkingDirectory=/var/deployments

Environment="PATH=/var/deployments/.venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PORT=8000"
Environment="GUNICORN_TIMEOUT=120"

ExecStart=/var/deployments/entrypoint.sh

Restart=always
RestartSec=5

KillSignal=SIGTERM
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
