[Unit]
Description=MI Engineering Django Gunicorn Service
After=network.target

[Service]
Type=simple

User=syn
Group=webhost

WorkingDirectory=/var/webhost/mi_engineering

Environment="PATH=/home/syn/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PORT=8000"
Environment="GUNICORN_TIMEOUT=120"

ExecStart=/var/webhost/mi_engineering/entrypoint.sh

Restart=always
RestartSec=5

KillSignal=SIGTERM
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
