# Django

# Generate a strong production secret key.
DJANGO_SECRET_KEY=change-this-to-a-secure-secret-key


# Allowed Hosts

# Comma-separated domains/IPs.
# Production example:
# ALLOWED_HOSTS=example.com,www.example.com

ALLOWED_HOSTS=localhost,127.0.0.1


# PostgreSQL

DB_NAME=mi_engineering
DB_USER=mi_engineering
DB_PASSWORD=change-this-database-password

DB_HOST=localhost
DB_PORT=5432


# Email / SMTP

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587

EMAIL_HOST_USER=noreply@example.com
EMAIL_HOST_PASSWORD=change-this-email-password

DEFAULT_FROM_EMAIL=M.I. Engineering Works <noreply@example.com>